<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/404.css" />
</head>

<body>
    <h2 class="error">Error</h2>
    <h1>404</h1>
    <div class="return">
        <a href="/"> Click -> Back </a>
    </div>
    <div class="oops">
        <p>Oops...</p>
    </div>
    <div class="lost">
        <p>You seems be lost...</p>
    </div>
    <div class="404">
        <img class="perso" src="../static/404/404icon.png">
        <img class="bulle" src="../static/404/bulle.png">
    </div>
</body>


</html>