<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="../static/css/aboutus.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="../static/button.js"></script>
    <script src="../static/popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<header class="header">
    <div class="navbar">
        <li style="float: left"><a href="/" class="logo">Cineroom</a></li>
        <li><a href="/register">Login</a></li>
        <li><a href="/Aboutus">Aboutus</a></li>
        <li>
            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">Categorie
                <i class="fa fa-caret-down"></i>
            </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="/action">Action</a>
                    <a href="/biobic">Biobic</a>
                    <a href="/comedy">Comedy</a>
                    <a href="/fantasy">Fantasy</a>
                    <a href="/horror">Horror</a>
                    <a href="/romantic">Romantic</a>
                    <a href="/SF">Sci-Fi</a>
                    <a href="/thriller">Thriller</a>
                    <a href="/western">Western</a>
                </div>
            </div>
        </li>
        <li><a href="/">Home</a></li>
    </div>
</header>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>

<body>
    <section id="section1">
        <div class="left">
            <div class="section1content">
                <h1>Cineroom</h1>
                <h2>Let's Talk About Us</h2>
                <br><br>
                <p>Here you can find all the informations about our project and us. This forum is dedicated to the exchange of opinions between our users. </p>
                <p>By going to each of the sections they will be able to exchange on various themes of the cinema. Our goal is to create a space of thoughts in the benevolence and the freedom of expression. If you want to ask us something you can write us
                    a message !</p>
            </div>
            <div class="section1button">
                <button><a href="#ex1" rel="modal:open"> &#9997; Send us a message </a></button>
            </div>
            <div>
                <div id="ex1" class="modal">
                    <form method="POST" action="/">
                        <h1>Contact Us</h1><br>
                        <label><p>Title :  </p><input class= "subject form-submit" type="text" name="Subject"/><br></label>
                        <label><p>Enter your name : </p><input class= "name form-submit" type="text" name="Name"/><br></label>
                        <label><p>Enter your message : </p><textarea class="post form-submit-textarea" id="text" name="aire texte" rows="4" cols="50"></textarea><br></label>
                        <input class="form-submit-button" type="submit" /><input class="form-submit-button" type="reset" />
                    </form>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="imagefond1">
                <img class="left_emoji" src="../static/index/Untitled3.png">
                <img class="human_smiley" src="../static/index/perso8.png">
                <img class="right_emoji" src="../static/index/Untitled18.png">
                <div class="octa gon"></div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>

    <div class="mainfooter">
        <!-- Footer -->
        <footer class="text-center" style="background-color: #5998ba" style="opacity:0.4">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="links">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="titre">
                            <h5 class="text-uppercase">Cineroom</h5>

                            <p class="welcome">
                                Welcome to our informations ! Follow the links
                            </p>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col1" style="display:flex">

                            <ul class="list1">
                                <li>
                                    <a href="/" class="text-white">Home</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 2</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 3</a>
                                </li>
                                <li>
                                    <a href="#!" class="text-white">Link 4</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                        <div class="adress">
                            <p> Toulouse Ynov Campus</p>
                            <br>
                            <p>2 Place de l'Europe</p>
                            <br>
                            <p>31000 Toulouse</p>
                        </div>

                        <!--Grid row-->
                </section>
                <!-- Section: Links -->
                <hr class="mb-4" />

                <!-- Section: Social media -->
                <section class="reseaux">
                    <!-- Facebook -->
                    <a class="fb" target="_blank" href="https://fr-fr.facebook.com/YnovToulouse/" role="button"><i class="fa fa-facebook-f"></i
            ></a>

                    <!-- Twitter -->
                    <a class="tw" target="_blank" href="https://twitter.com/ynovtoulouse" role="button"><i class="fa fa-twitter"></i
            ></a>

                    <!-- Google -->
                    <a class="goo" target="_blank" href="https://www.ynov.com/campus/toulouse/" role="button"><i class="fa fa-google"></i
            ></a>

                    <!-- Instagram -->
                    <a class="insta" target="_blank" href="https://www.instagram.com/toulouse_ynovcampus/?hl=fr" role="button"><i class="fa fa-instagram"></i
            ></a>

                    <!-- Linkedin -->
                    <a class="linkedin" target="_blank" href="https://www.linkedin.com/school/toulouse-ynov-campus/" role="button"><i class="fa fa-linkedin-in"></i
            ></a>

                    <!-- Github -->
                    <a class="git" target="_blank" href="https://git.ytrack.learn.ynov.com/VTESSIER/Forum" role="button"><i class="fa fa-github"></i
            ></a>
                </section>
                <!-- Section: Social media -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="copy" style="background-color: rgba(0, 0, 0, 0.2)">
                    © 2020 Copyright:
                    <a class="text-white" href="">Ynov</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

</body>



</html>