<!DOCTYPE html>
<html lang="en">

<head>
    <title>Comedy Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/comedy.css"/>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">


    <script src="../static/button.js"></script>
    <script src="../static/popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
<section id="section1">
    <div class="left">
        <div class="section1content">
            <h1>Cineroom</h1>
            <h2>Let's Talk about Comedy</h2>
            <br><br>
            <p>Laugh till you cry or cry from laughing. <br>Here the emotions take you out of the gloom. Don't wait any
                longer, come and breathe happiness!
                <br>Write your opinion on your favorite comedy movie !</p>
        </div>
    </div>
    <div class="right">
        <div class="imagefond1">
            <img class="left_emoji" src="../static/comedy/left_img.png">
            <img class="human_smiley" src="../static/comedy/perso.png">
            <img class="right_emoji" src="../static/comedy/right_img.png">
            <div class="octa gon"></div>
        </div>
    </div>
</section>
<section>
    <div class="Part_Post">
        {{range .PostArray}}
        <div class="Part_Post_User">
            <h1>{{.PostTitle}}</h1>
            <h3>{{.MailUser}}</h3>
            <p>{{.PostContent}}</p>
        </div>
        <div>
            <div>
                <form class="form_for_comment" action="/comedy" method="GET">
                    <br><br>
                    <label for="textcomment"><h1>Add commentary : </h1></label><br>
                    <input type="text" class="post form-submit-textarea_commentary" id="textcomment" name="comment"
                           class="post form-submit-textarea_commentary"><br>
                    <input class="form-submit-button" type="Submit" value="{{.IdPost}}" name="idPost"
                           id="idPost"/><input
                        class="form-submit-button" type="Reset"/>

                </form>
            </div>
        </div>
        <div class="Part_Post_Comment">

            {{range .CommentArray}}
            <label><h3>{{.IdUser}}</h3></label>
            <p>{{.Comment}}</p>
            <hr size="2">
            {{end}}
        </div>

        {{end}}
    </div>

</section>
</body>
<footer>
</footer>
</html>