<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/comedy.css"/>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">


    <script src="../static/button.js"></script>
    <script src="../static/popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            let user = getCookie("token");
            if (user == "" || user == null) {
                const v =document.getElementsByClassName("commenter");
                for ( var i = 0; i < v.length; i++) {
                    v[i].style.display = "none";
                }
            }
        }

        function showComment() {
            const v =document.getElementsByClassName("Part_Post_Comment");
            for ( var i = 0; i < v.length; i++) {
                v[i].style.display = "block";
            }
        }
    </script>
</head>



<body onload="checkCookie()">
<section id="section1">
    <div class="left">
        <div class="section1content">
            <h1>Cineroom</h1>
            <h2>Let's Talk about Comedy</h2>
            <br><br>
            <p>Laugh till you cry or cry from laughing. <br>Here the emotions take you out of the gloom. Don't wait any
                longer, come and breathe happiness!
                <br>Write your opinion on your favorite comedy movie !</p>
        </div>
    </div>
    <div class="right">
        <div class="imagefond1">
            <img class="left_emoji" src="../static/comedy/left_img.png">
            <img class="human_smiley" src="../static/comedy/perso.png">
            <img class="right_emoji" src="../static/comedy/right_img.png">
            <div class="octa gon"></div>
        </div>
    </div>
</section>
<section>
    <div class="Part_Post">
        {{range .PostArray}}
        <div class="Part_Post_User">
            <h1>{{.PostTitle}}</h1>
            <h3>{{.MailUser}}</h3>
            <p>{{.PostContent}}</p>
        </div>
        <div class ="commenter" id ="div1">
            <div>
                <form class="form_for_comment" action="/comedy" method="GET">
                    <br><br>
                    <label for="textcomment"><h1>Add commentary : </h1></label><br>
                    <input type="text" class="post form-submit-textarea_commentary" id="textcomment" name="comment"
                           class="post form-submit-textarea_commentary"><br>
                    <input class="form-submit-button" type="Submit" value="{{.IdPost}}" name="idPost"
                           id="idPost"/><input
                        class="form-submit-button" type="Reset"/>
                </form>
            </div>
        </div>
        <button onclick ="showComment()" >Comments</button>
        <div style="display: none " class="Part_Post_Comment">
            <ul class="read-more-wrap">
                {{range .CommentArray}}
                <div class="read-more-target">
                    <div class="Post_User_Name"><br>
                        <label><h3>{{.IdUser}}</h3></label>
                        <p>{{.Comment}}</p>
                        <br>
                        <hr size="2">
                    </div>
                </div>
                {{end}}
            </ul>
        </div>
        {{end}}
    </div>

</section>
</body>
<!-- Footer -->

<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Cine<span style=" font-family: 'Italiana', serif">Room</span></h3>
        <p class="footer-links">
            <a href="/" class="link-1">Home</a>
            <a href="/#section3" class="text-white">Category</a>
            <a href="/aboutus" class="text-white">About</a>
            <a href="/aboutus#ex1" class="text-white">Contact us</a>
            <a href="https://www.ynov.com">Blog</a>
        </p>
        <p class="footer-company-name">Ynov © 2022</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span style="font-size:20px">2 place de l'europe</span> 31000 Toulouse, France</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>05 82 95 10 48</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:contact-toulouse@ynov.com">contact-toulouse@ynov.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About Us</span> Choosing Ynov Informatique means choosing to discover the IT professions through the latest technologies, innovative tools and a golden rule: succeed together!
        </p>
        <div class="footer-icons">
            <a target="_blank" href="https://fr-fr.facebook.com/YnovToulouse/"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/ynovtoulouse"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.linkedin.com/school/toulouse-ynov-campus/"><i class="fa fa-linkedin"></i></a>
            <a target="_blank" href="https://git.ytrack.learn.ynov.com/VTESSIER/Forum"><i class="fa fa-github"></i></a>
            <a target="_blank" href="https://www.instagram.com/toulouse_ynovcampus/?hl=fr"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</footer>
</html>