<!DOCTYPE html>
<html lang="en">

<head>
    <title>Comedy Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content=""/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/comedy.css"/>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">


    <script src="../static/button.js"></script>
    <script src="../static/popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body>
<section id="section1">
    <div class="left">
        <div class="section1content">
            <h1>Cineroom</h1>
            <h2>Let's Talk about Comedy</h2>
            <br><br>
            <p>Laugh till you cry or cry from laughing. <br>Here the emotions take you out of the gloom. Don't wait any
                longer, come and breathe happiness!
                <br>Write your opinion on your favorite comedy movie !</p>
        </div>
        <div class="section1button">
            <button><a href="/register"> &#128214; Create account</a></button>
            <button><a href="/login"> &#128513; Log</a></button>
            <!--<button><a href="/post"> &#9997; Create a post </a></button>-->
        </div>

    </div>
    <div class="right">
        <div class="imagefond1">
            <img class="left_emoji" src="../static/comedy/left_img.png">
            <img class="human_smiley" src="../static/comedy/perso.png">
            <img class="right_emoji" src="../static/comedy/right_img.png">
            <div class="octa gon"></div>
        </div>
    </div>
</section>
<section class="post_conv">
    <script src="https://use.fontawesome.com/fe459689b4.js"></script>
    <!-- Subject -->
    <div class="Post_User_box">
        {{range .PostArray}}
        <div class="Post_USer">
            <div class="Title_Post_User"><label><h1>{{.PostTitle}}</h1></button></label></div>
            <div class="Post_User_Name_Reply_area">
                <div class="Post_User_Name"><label><h3>{{.MailUser}}</h3></label></div>
            </div>
            <div class="Post_User_Commentary"><label><p>{{.PostContent}}</p><br></label>
            </div>
            <div class="Post_User_Comment_Like">
                <div class="Post_User_NumComment"><label>
                    <button><label for="post-2" class="read-more-trigger">Comment</label>
                        &#128172; {{.NumberComment}}
                    </button>
                </label></div>
                <div class="Post_User_NumLike">
                    <label style="float: right;">
                        <button>&#128077; 4</button>
                        <button>&#x1F44E; 3</button>
                    </label>
                </div>
            </div>
            <!-- Comment -->
            <div class="Comment_Other_List">
                <div>
                    <input type="checkbox" class="read-more-state" id="post-2"/>
                    <ul class="read-more-wrap">
                        <div class="read-more-target">
                            {{range .PostComment}}
                            <div class="Post_User_Name"><br>
                                <label><h3>{{.IdUser}}</h3></label>
                                <p>{{.Comment}}</p>
                                <hr size="2">
                                <div class="Post_User_NumLike">
                                    <label style="float: right;">
                                        <button>&#128077; 4</button>
                                        <button>&#x1F44E; 3</button>
                                    </label>
                                </div>
                            </div>
                            {{ end}}
                        </div>
                    </ul>
                </div>
            </div>
            <!-- Leaves commentary -->

            <form action="/comedy" method="GET">
                <label for="textcomment">
                    <p>Add commentary : </p></label><br><br>
                <input type="text" class="post form-submit-textarea_commentary" id="textcomment" name="comment"
                       class="post form-submit-textarea_commentary"><br>
                <input class="form-submit-button" type="submit" value="{{.IdPost}}" name="idPost" id="idPost"><input
                    class="form-submit-button" type="reset"/>
            </form>
        </div>
        {{end}}

    </div>

</section>
</body>
<footer>
</footer>
</html>

