<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/post" method="Post">

    <label for="user_Post1">Title:</label><br>
    <input type="text" id="user_Post1" name="title" value="Jane"><br>
    <div>
        <label for="Action"><br>Action</label>
        <input type="checkbox"  id="action" class ="tickets" value ="action">

        <label for="biopic"><br>Biopic</label>
        <input type="checkbox"  id="biopic" class ="tickets" value ="biopic">

        <label for="comedy"><br>Comedy</label>
        <input type="checkbox"  id="comedy" class ="tickets" value ="comedy">

        <label for="drama"><br>Drama</label>
        <input type="checkbox"  id="drama" class ="tickets" value ="drama">

        <label for="fantasy"><br>Fantasy</label>
        <input type="checkbox"  id="fantasy" class ="tickets" value ="fantasy">

        <label for="horror"><br>Horror</label>
        <input type="checkbox"  id="horror" class ="tickets" value ="horror">

        <label for="romantic"><br>Romantic</label>
        <input type="checkbox"  id="romantic" class ="tickets" value ="romantic">
    </div>


    <label for="user_Post3">Type your post :</label><br>
    <input type="text" id="user_Post3" name="content" value="Leon"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>