<!DOCTYPE html>
<html>
<style>
    /*
    #dataID {
      background-color:chartreuse;
    }
    */
</style>
<body>

<h2>HTML Form Using GET Method</h2>
<!-- mouse click or finger tapping will bring the element into focus-->
<!-- id used to target element with css, javascript, and label tags -->
<!-- name used to target element to retrieve value -->

<form action="/processget" method="GET">

    <label for="user_Post1">Choice your Title:</label><br>
    <input type="text" id="user_Post1" name="titletexttost_User" value="Jane"><br>

    <label for="user_Post2">Enter your Name :</label><br>
    <input type="text" id="user_Post2" name="username" value="Jimmy"><br>

    <label for="user_Post3">Type your post :</label><br>
    <input type="text" id="user_Post3" name="textproject" value="Leon"><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>