<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum</title>
    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="" />
</head>
<header>
    <form method="POST" action="/">
        <label>Enter your name<input type="text" value=""/>
        <label>Enter your post<input type="text" value=""/> 
        <input type="submit">

    </form>
    <h2>This is your post</h2>
</header>

<body>

</body>
<footer>

</footer>

</html>