<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <script src="../static/button.js"></script>
    <script src="../static/popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<header class="header">
    <div class="navbar">
        <li style="float: left"><a href="" class="logo">Cineroom</a></li>
        <li><a href="#home">Login</a></li>
        <li><a href="#Aboutus">Aboutus</a></li>
        <li><div class="dropdown">
            <button class="dropbtn" onclick="myFunction()">Categorie
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/action">Action</a>
                <a href="/docu">Biobic</a>
                <a href="/comedy">Comedy</a>
                <a href="/fantasy">Fantasy</a>
                <a href="/horror">Horror</a>
                <a href="/romantic">Romantic</a>
                <a href="/SF">Sci-Fi</a>
                <a href="/drama">Thriller</a>
                <a href="/docu">Western</a>
            </div>
        </div></li>
        <li><a href="#">Home</a></li>
    </div>
</header>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>

<body>
    <section id="section1">
        <div class="left">
            <div class="section1content">
                <h1>Cinemum</h1>
                <h2>Let's Talk about movies</h2>
                <br><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus enim esse</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="section1button">
                <button><a> &#128214; See last subject </a></button>
                <button><a href="#section3"> &#9997; Create a post </a></button>
            </div>


        </div>
        <div class="right">
            <div class="imagefond1">
                <img class="left_emoji" src="../static/Untitled3.png">
                <img class="human_smiley" src="../static/perso8.png">
                <img class="right_emoji" src="../static/Untitled18.png">
                <div class="octa gon"></div>
            </div>
        </div>
    </section>
    <section id="section2">
        <div class="section2_text">
            <br>
            <h1><br>How it Works</h1>
            <h2>Responsive Three Column Layout</h2>
        </div>
        <div class="section2_column">
            <div class="column">
                <div class="Section2_textB">
                    <img class="Section2PhotoA" src="../static/Section2A.png">
                    <h2>Column 1</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>

            </div>
            <div class="column">
                <div class="Section2_textB">
                    <img class="Section2PhotoB" src="../static/Section2B.png">
                    <h2>Column 2</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>

            </div>
            <div class="column">
                <div class="Section2_textB">
                    <img class="Section2PhotoC" src="../static/Section2C.png">
                    <h2>Column 3</h2>
                    <p>Lorem ipsum dolor sit amet</p>
                </div>
            </div>
            <br>
        </div>
    </section>

    <section id="section3">
        <div class="section3_text">
            <h1>Category</h1>
            <h2>Choice your movie genre</h2>
            <br>
        </div>
        <div class='hexbuttons'>
            <div class='hexr'>
                <div class='hexagon'><a href="/action" class="Action" title='account'><h1>Action</h1></a></div>
                <div class='hexagon'><a href="/comedy" class="Comedy" title='account'><h1>Comedy</h1></a></div>
                <div class='hexagon'><a href="/horror" class="Horror" title='account'><h1>Horror</h1></a></div>
                <div class='hexagon'><a href="/SF" class="Scifi"  title='account'><h1>Sci-Fi</h1></a></div>
                <div class='hexagon'><a href="/docu" class="Western" title='account'><h1>Western</h1></a></div>
            </div>
            <div class='hexr'>
                <div class='hexagon'><a href="/docu" class="Biobic" title='account'><h1>Biobic</h1></a></div>
                <div class='hexagon'><a href="/fantasy" class="Fantastic" title='account'><h1>Fanstastic</h1></a></div>
                <div class='hexagon'><a href="/romantic" class="Romantic" title='account'><h1>Romantic</h1></a></div>
                <div class='hexagon'><a href="/drama" class="Thriller" title='account'><h1>Thriller</h1></a></div>
            </div>
        </div>
    </section>
</body>
</html>