<!DOCTYPE html>
<html lang="en">

<head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link rel="stylesheet" href="../static/css/index.css" />


    <script src="../static/button.js"></script>
    <script src="../static/popup.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<header class="header">
    <div class="navbar">
        <li style="float: left"><a href="/" class="logo">Cineroom</a></li>
  <div class="navbar">
    <li style="float: left"><a href="/" class="logo">Cineroom</a></li>

    <li><a className="log" href="/login"> <span>&#128513;</span> Log in</a></li>
    <li><a className="log" href="/register"> <span>&#128214;</span> Sign Up</a></li>
    <li><a href="/Aboutus">Aboutus</a></li>
    <li><div class="dropdown">
      <button class="dropbtn" onclick="myFunction()">Categorie
        <i class="fa fa-caret-down"></i>
      </button>
                <div class="dropdown-content" id="myDropdown">
                    <a href="/action">Action</a>
                    <a href="/biobic">Biobic</a>
                    <a href="/comedy">Comedy</a>
                    <a href="/fantasy">Fantasy</a>
                    <a href="/horror">Horror</a>
                    <a href="/romantic">Romantic</a>
                    <a href="/SF">Sci-Fi</a>
                    <a href="/thriller">Thriller</a>
                    <a href="/western">Western</a>
                </div>
            </div>
        </li>
        <li><a href="/">Home</a></li>
    </div>
    </div>
</header>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>

<body>

</body>

</html>