@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@100&display=swap');
body {
    background-color: #da96da;
    background-image: linear-gradient(0deg, #eed3ee 0%, #90dde6 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h2 {
    height: 100%;
    width: 100%;
    position: center;
    text-align: center;
    font-family: 'Italiana', serif;
    font-family: 'Poppins', sans-serif;
}

h1 {
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    margin-top: 10%;
    font-family: 'Italiana', serif;
    font-family: 'Poppins', sans-serif;
}