

* {
    margin: 0;
    color: var(--color4);
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    --color1: #F5F4F1;
    --color2: #DB8380;
    --color3: #F4726D;
    --color4: #000000;
    --background: linear-gradient(0deg, rgba(245, 244, 241, 0.2) 0%, rgba(245, 244, 241, 0.6) 100%);
    --box-shadow: 2px 2px 2px dimgrey;
    min-height: 80vh;
    background-image: url("/static/biobic/index.png");
    background-size: cover;
    background-width: 100%;

    background-repeat: no-repeat;
}

h1 {
    font-family: 'Cutive Mono', monospace;
    font-size: 3vmax;
}

h2 {
    font-weight: bolder;
    font-size: 1.5vmax;
    color: var(--color3);
}

h3 {
    font-weight: bolder;
    font-size: 1vmax;
    color: var(--color2);
}

p, a, button {
    font-weight: bolder;
    font-size: 1.2vmax;
}

.navbar {
    min-height: 25px;
    margin: 0;
    padding: 0;
    top: 0;
    list-style: none;
    position: fixed;
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 5;
}

.navbar a {
    float: right;
    color: var(--color4);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--color4);
    padding: 20px 20px;
    background-color: white;
    font-family: inherit;
    margin: 0;
    font-weight: bolder;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: var(--color1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

.dropdown-content a {
    font-size: 0.8vmax;
    float: none;
    color: var(--color4);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
}

.dropdown-content a:hover {
    background-color: var(--color1);
}

.show {
    display: block;
}

/*SECTION 1*/

#section1{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 45%;
}

.section1content{
    padding: 15% 20%;
}

.section1content h1{
    font-size: 9vmax;
}
.section1content h2{
    width: 36vmax;
    font-size: 2vmax;
    font-weight: bolder;
    transition: color 500ms ease, text-shadow 500ms ease;
    color: var(--color1);
    text-shadow: 0 0 10px var(--color1);
    background-color: var(--color3);
    text-align: center;
}

/*Section1button Left*/

.section1button button{
    padding: 1% 5%;
    margin: 0 -10% 0 20%;
    background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,1) 100%);
    border-radius: 50px;
    color: var(--color4);
    box-shadow: var(--box-shadow);
    border: 1px outset var(--color1);
}

.section1button button:hover {
    background-color: var(--color2);
    box-shadow:1px 1px 1px var(--color1) inset;
}

.right{
    flex: 55%;
}

.imagefond1 img{
    position: absolute;
    display: inline-flex;
}

.human_smiley{
    margin-top: -6vmax;
    margin-left: 6vmax;
    width: 38vmax;
    z-index: 2;
}
.left_emoji{
    margin-left: 11vmax;
    margin-top: 10vmax;
    width: 11vmax;
    z-index: 3;
    animation-name: float_left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.right_emoji {
    margin-left: 30vmax;
    margin-top: 2vmax;

    width: 10vmax;
    z-index: 1;
    animation-name: float_right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0%   {margin-top: 2vmax;}
    50%  {margin-top: 3vmax;}
    100% {margin-top: 2vmax;}
}

@keyframes float2 {
    0%   {margin-top: 10vmax;}
    50%  {margin-top: 9vmax;}
    100% {margin-top: 10vmax;}
}

.gon {
    margin-left: 9vmax;
    margin-top: 13vmax;
    width: 28vmax;
    height: 26vmax;
    background-color: var(--color1);
    opacity: 70%;
}

.octa {
    -webkit-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    -moz-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    -ms-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
}

/*post commentary*/

.post_conv {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
    "Post_USer";
}

.Post_USer {
    display: grid;
    width: 60vmax;
    margin-left: 8%;
    padding: 2% 5% 0 2%;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 10vmin 1fr 5vmin;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Title_Post_User"
    "Post_User_Name_Reply_area"
    "Post_User_Commentary"
    "Post_User_Comment_Like";
    grid-area: Post_USer;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,1) 100%);
    color: var(--color4);
    box-shadow: var(--box-shadow);
    border: 1px outset var(--color1);
}

.Title_Post_User {
    grid-area: Title_Post_User;
}
.Title_Post_User h1{
    font-size: 2.5vmax;
}

.Post_User_Name_Reply_area {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Post_User_Name";
    grid-area: Post_User_Name_Reply_area;
}

.Post_User_Name { grid-area: Post_User_Name; }

.Post_User_Reply button{
    padding: 1% 5%;
    color: var(--color1);
    font-weight: bolder;
    background-color: var(--color2);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    border: 1px outset var(--color3);
}

.Post_User_Commentary { grid-area: Post_User_Commentary; }

.Post_User_Comment_Like {  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Post_User_NumComment Post_User_NumLike";
    grid-area: Post_User_Comment_Like;

}

.Post_User_NumComment { grid-area: Post_User_NumComment;
}

.Post_User_NumComment button{
    padding: 1% 5%;
    background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,1) 100%);

    border-radius: 50px;
    color: var(--color4);
    box-shadow: var(--box-shadow);
    border: 1px outset var(--color1);
    text-decoration: none;
    cursor: pointer;
}



.Post_User_NumLike {
    grid-area: Post_User_NumLike;
    cursor: pointer;


}

.Post_User_NumLike button{
    text-decoration: none;
    border:none;
    background-color: transparent;

}

.Post_User_NumComment button:hover, .form-submit-button:hover {
    background-color: var(--color2);

}

/******Reveal comment*******/
.Comment_Other_List p{
    padding: 0 0 2% 0;
    font-size: smaller;

}


.read-more-state {
    display: none;
}

.read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .35s ease-in-out;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
}


.read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    font-size: .9em;
    line-height: 2;
    border-radius: .25em;


}
/*take out the resize*/

.Post_User_box{
    margin-bottom: 4%;
}