@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
@import "header.css";
@import "footer.css";
body {
    --color1: #F5F4F1;
    --color2: #97B3AB;
    --color3: #56766D;
    --color4: #000000;
    --background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,0.6) 100%);
    --box-shadow: 2px 2px 2px dimgrey;
}

body {
    margin: 40px;
}

button {
    cursor: pointer;
    outline: 0;
    color: #AAA;
}

.btn:focus {
    outline: none;
}

.green {
    color: green;
}

.red {
    color: red;
}