@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    color: var(--color4);
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    --color1: #F5F4F1;
    --color2: #EEECE5;
    --color3: #5998BA;
    --color4: #000000;
    --background: linear-gradient(0deg, rgba(245, 244, 241, 0.2) 0%, rgba(245, 244, 241, 0.6) 100%);
    --box-shadow: 2px 2px 2px dimgrey;

    min-height: 80vh;
    background-image: url("/static/index/index.png");
    background-size: cover;
    background-width: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 5vmin;
}

h2 {
    font-weight: bolder;
    font-size: 3vmin;
    color: var(--color3);
}

h3 {
    font-weight: bolder;
    font-size: 3vmin;
    color: var(--color2);
}

p, a, button {
    font-weight: bolder;
    font-size: 2vmin;
}


/*SECTION 1*/

#section1{
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 45%;
}

.section1content{
    padding: 5% 20%;
}

.section1content h1{
    font-size: 9vmax;
}
.section1content h2{
    width: 36vmax;
    font-size: 2vmax;
    font-weight: bolder;
    transition: color 500ms ease, text-shadow 500ms ease;
    color: var(--color1);
    text-shadow: 0 0 10px var(--color1);
    background-color: var(--color3);
    text-align: center;
}

.section1content p{
    line-height: 190%;
}


/*Section1button Left*/

.section1button button{
    padding: 1% 5%;
    margin: 0 -10% 0 20%;
    background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,1) 100%);
    border-radius: 50px;
    color: var(--color4);
    box-shadow: var(--box-shadow);
    border: 1px outset var(--color1);
}

.section1button button:hover {
    background-color: var(--color2);
    box-shadow:1px 1px 1px var(--color1) inset;
}

.right{
    flex: 55%;
}

.imagefond1 img{
    position: absolute;
    display: inline-flex;
}

.human_smiley{
    margin-top: -4vmax;
    margin-left: 6vmax;
    width: 36vmax;
    z-index: 2;
}
.left_emoji{
    margin-left: 6vmax;
    margin-top: 10vmax;

    width: 14vmax;

    z-index: 3;
    animation-name: float2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.right_emoji {
    margin-left: 30vmax;
    margin-top: 2vmax;

    width: 14vmax;
    z-index: 1;
    animation-name: float;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes float {
    0%   {margin-top: 2vmax;}
    50%  {margin-top: 3vmax;}
    100% {margin-top: 2vmax;}
}

@keyframes float2 {
    0%   {margin-top: 10vmax;}
    50%  {margin-top: 9vmax;}
    100% {margin-top: 10vmax;}
}

.gon {
    margin-left: 9vmax;
    margin-top: 13vmax;
    width: 28vmax;
    height: 26vmax;
    background-color: var(--color1);
    opacity: 70%;
}

.octa {
    -webkit-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    -moz-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    -ms-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
}

/*SECTION 2*/

/*Box*/
#section2 {
    box-sizing: border-box;
    width: 100%;
    box-shadow: var(--box-shadow);
    border: 2px 0 outset var(--color1);

}

.section_text{
    margin: 10vmax 0 2vmax 5vmax;
}


.section2_column{
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: rgba(89,152,186,0.9) ;

}
.section2_column h1 {
    font-size: 5vmax;

}

.section2_column h3 {
    text-shadow: 0 0 15px var(--color4);

}

.section2_column p {
    width: 70%;
    margin: auto;
}

.column {
    flex: 1;
    padding: 20px;
}

.column:first-child { margin-left: 0; }
.column:last-child { margin-right: 0; }



@media screen and (max-width: 980px) {
    .section2_column .column {
        margin-bottom: 5px;
        flex-basis: 40%;}
    .section2_column .column:nth-last-child(2) {
     margin-right: 0;}
    .section2_column .column:last-child {
     flex-basis: 100%;
     margin: 0;}
}

@media screen and (max-width: 680px) {
    .section2_column .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

/*Section 3*/

#section3 {
    padding: 0;
    width: 70%;
    margin-left: 15%;
}

#hexGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 5vmax;
}

.hex {
    position: relative;
}

.hex::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin: 2%;
    overflow: hidden;
}
.hexIn * {
    position: absolute;
    visibility: visible;
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

/*** HEX CONTENT **********************************************************************/

.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h1, .hex p {
    width: 100%;
    padding: 5%;
    box-sizing:border-box;
    font-weight: 300;
}

.hex p{
    opacity: 0;
    font-size: 0.8vmax;
}

/*Lettre uppercase*/
.hexLink h1 {
    text-align: center;
    bottom: 40%;
    padding-top:50%;
    font-size: 5vmin;
    z-index: 1;
    font-weight: bolder;
    color: var(--color1);
    text-shadow: 1px 1px 2px var(--color4);
}


#demo2 {
    top: 50%;
    text-align: center;
    color: var(--color1);
    font-weight: bolder;
    text-shadow: 1px 1px 2px var(--color4);
    font-size: 2vmin;

}

.img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    opacity: 0;
    transition: opacity 0.5s;
}
.img:before {
    opacity: 80%;

}
/*background color hover*/
.img:after {
    background: linear-gradient(to top, var(--color4),transparent, var(--color4));
}

.hexLink:hover p, .hexLink:focus p{
    opacity:1;
}

.action:hover {
    color: #DB8380;
}

.biobic:hover{
    color: #97B3AB;
}

.comedy:hover{
    color: #FFF4C3;
}
.fantasy:hover{
    color: #DFBFFD;
}
.horror:hover{
    color: #FF954F;
}
.romantic:hover{
    color: #F2B3D1;
}
.SF:hover{
    color: #DBF9C8;
}

.thriller:hover{
    color: #AEBCC6;
}

.western:hover{
    color: #BE8B65;
}


.hexIn:hover .img:after{
    opacity: 1;
}


@media (min-width:1201px) {
    #hexGrid{
        padding-bottom: 4.4%
    }
    .hex {
        width: 20%;
    }
    .hex:nth-child(9n+6){
        margin-left:10%;
    }
}

@media (max-width: 1200px) and (min-width:901px) {
    #hexGrid{
        padding-bottom: 5.5%;
        font-size: 13px;
    }
    .hex {
        width: 25%;
    }
    .hex:nth-child(7n+5){
        margin-left:12.5%;
    }
}

@media (max-width: 900px) and (min-width:601px) {
    #hexGrid{
        padding-bottom: 7.4%;
        font-size: 14px;
    }
    .hex {
        width: 33.333%;
    }
    .hex:nth-child(5n+4){
        margin-left:16.666%;
    }
}

@media (max-width: 600px) {
    #hexGrid{
        padding-bottom: 11.2%;
        font-size: 12px;
    }
    .hex {
        width: 50%;
    }
    .hex:nth-child(3n+3){
        margin-left:25%;
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }
}

