@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@100&display=swap');

* {
    margin: 0;
    color: var(--color4);
    text-shadow: none;
    font-family: 'Poppins', sans-serif;
}

body {
    --color1: #F5F4F1;
    --color2: #EEECE5;
    --color3: #5998BA;
    --color4: #000000;
    --background: linear-gradient(0deg, rgba(245, 244, 241, 0.2) 0%, rgba(245, 244, 241, 0.6) 100%);
    --box-shadow: 2px 2px 2px dimgrey;

    min-height: 80vh;
    background-image: url("/static/FondC.png");
    background-size: cover;
    background-width: 100%;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Italiana', serif;
    font-size: 4vmax;
}

h2 {
    font-weight: bolder;
    font-size: 1.5vmax;
    color: var(--color3);
}

h3 {
    font-weight: bolder;
    font-size: 1vmax;
    color: var(--color2);
}

p, a, button {
    font-weight: bolder;
    font-size: 0.8vmax;
}

.navbar {
    min-height: 70px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}


.navbar {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    height: 43px;
}

.navbar a {
    float: right;
    color: var(--color4);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--color4);
    padding: 15px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bolder;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: var(--color1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: var(--color1);
}

.show {
    display: block;
}

/*SECTION 1*/

#section1{
    display: flex;
    flex-wrap: wrap;
}

.left{
    flex: 45%;
}

.right{
    flex: 55%;
}

.imagefond1 img{
    position: absolute;
    display: inline-flex;
}

.human_smiley{
    position: relative;
    top: 10%;
    left: 53vmax;
    width: 36vmax;
    z-index: 2;
}
.left_emoji{
    position: relative;
    width: 14vmax;
    z-index: 3;
    animation-name: float2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.right_emoji {
    position: relative;
    width: 14vmax;
    z-index: 1;
    animation-name: float;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 5px solid;
}

@keyframes float {
    0%   {left:73vmax; top:4vmax;}
    50%  {left:73vmax; top:5vmax;}
    100% {left:73vmax; top:4vmax;}
}

@keyframes float2 {
    0%   {left:54vmax; top:19vmax;}
    50%  {left:54vmax; top:20vmax;}
    100% {left:54vmax; top:19vmax;}
}

.gon {
    margin: 16% 25%;
    width: 28vmax;
    height: 26vmax;
    background-color: var(--color1);
    opacity: 70%;

    /* Text styling */
    line-height: 220px;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 6px;
    color: #fff;
    color: rgba(255,255,255,.5);
    cursor: pointer;
    transition: color 500ms ease, text-shadow 500ms ease;
}
.gon:hover {
    color: #fff;
    text-shadow: 0 0 10px white;
}
.octa {
    -webkit-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    -moz-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    -ms-clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
    clip-path: polygon(
            29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
    );
}



