@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    color: black;
}

body {
    --bg-color: #141414;
    --main-color: #D60002;
    --white-color: #f1f1f1;
    --black-color: #141414;
    --main-redcolor: #CE0202;
    --main-purplecolor: #C656D6;
    --boxshadow: rgba(0, 0, 0, 0.17) 0 -23px 25px 0 inset, rgba(0, 0, 0, 0.15) 0 -36px 30px 0 inset, rgba(0, 0, 0, 0.1) 0 -19px 20px 0 inset, rgba(0, 0, 0, 0.06) 0 2px 1px, rgba(0, 0, 0, 0.09) 0 4px 2px, rgba(0, 0, 0, 0.09) 0 8px 4px, rgba(0, 0, 0, 0.09) 0 16px 5px, rgba(0, 0, 0, 0.09) 0 16px 5px;
    --buttonshadow: 1px 4px 29px -3px rgba(0, 0, 0, 0.69);
    --textshadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

h1{
    font-family: 'Italiana', serif;
    font-size: 3vmax;

}

h2,h3, li,label,input, p, button, a{
    font-size: 1vmax;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

h1{
    font-size: 4vmax;
}
h2{
    font-size: 1.5vmax;
}
h3{
    font-size: 1vmax;
    color: indianred;

}


li, p, input, label,.form-submit-button,.form__input{
    font-size: 0.8vmax;
}

body {
    margin: 40px;
    background-image: url("/static/FondC.png");
    background-size: cover;
    background-width: 100%;
    background-repeat: no-repeat;

}

section{
    background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,0.6) 100%);
    border: 1px solid #F5F4F1;
    border-radius: 20px;
    box-shadow: 2px 2px 2px dimgrey;
    width: 70%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: black;

    display: flex;
    flex-direction: row;
}

/*Left*/
.left{
    width: 45%;
    padding: 6%;

}

/*Right*/
.right{
    width: 55%;
    background-image: url("/static/Capture.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 15px 15px 0;
    border: 1px solid #F5F4F1;

}

/* helpers/alignment.css */

.align {
    display: grid;
    place-items: center;
}

/* icon.css */

.icon {
    font-size: 1rem;
}

/* layout/base.css */

body {
    color: #888;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
}

/* modules/headline.css */


/* modules/paragraph.css */

p {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

/*Username & password */

input {
    outline: 0;
}


.form__field {
    position: relative;
}

.form__field .icon {
    position: relative;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
}

.form__input {
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.8vmax;
    padding: 1px 3%;
    box-shadow: 2px 2px 2px dimgrey;
    background: linear-gradient(0deg, rgba(245,244,241,0) 0%, rgba(245,244,241,0.6) 100%);
    margin-bottom: 1%;
}

.form__input:valid {
    font-size: 0.8vmax;
    border-color: mediumseagreen;
    background: linear-gradient(0deg, rgba(245,244,241,0.6) 0%, rgba(245,244,241,1) 100%);
}
.form__input:valid + .icon::after {
    content: '😃';
}

.form__input:invalid {
    font-size: 0.8vmax;
    border-color: indianred;
    background: linear-gradient(0deg, rgba(245,244,241,0.6) 0%, rgba(245,244,241,1) 100%);
}

.form__input:invalid + .icon::after {
    content: '😳';
}

/*submit button*/

.form-submit-button {
    padding: 1% 5%;
    border-radius: 50px;
    background: linear-gradient(0deg, rgba(245,244,241,0) 0%, rgba(245,244,241,0.2) 100%);
    color: black;
    border: 1px solid #F5F4F1;
    box-shadow: 2px 2px 2px dimgrey;
    text-shadow: none;
    margin: 3% 3.7% 3% 0%;
}
.form-submit-button:hover {
    background: linear-gradient(0deg, rgba(245,244,241,0.6) 0%, rgba(245,244,241,1) 100%);
    color: black;
    border: 1px solid #F5F4F1;
    border-radius: 20px;
    box-shadow: 2px 2px 2px dimgrey;
    text-shadow: none;
}