@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
@import "header.css";
@import "footer.css";

*{
    margin: 0;
    color: var(--color4);
    font-family: 'Poppins', sans-serif;
}

body {
    --color1: #F5F4F1;
    --color2: #F2B3D1;
    --color3: #C73D8C;
    --color4: #000000;
    --background: linear-gradient(0deg, rgba(245,244,241,0.2) 0%, rgba(245,244,241,0.6) 100%);
    --box-shadow: 2px 2px 2px dimgrey;
}

body {
    margin: 40px;
}

h1{
    font-family: 'Fleur De Leah', cursive;
    font-size: 4vmax;
}

h2{
    font-weight: bolder;
    font-size: 1.5vmax;
    color: var(--color3);
}

h3{
    font-weight: bolder;
    font-size: 1vmax;
    color: var(--color2);
}

p{
    font-weight: bolder;
    font-size: 0.8vmax;
}

button {
    cursor: pointer;
    outline: 0;
    color: #AAA;
}

.btn:focus {
    outline: none;
}

.green {
    color: green;
}

.red {
    color: red;
}
