@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Creepster&family=Cutive+Mono&family=Fleur+De+Leah&family=Fredericka+the+Great&family=Italiana&family=Ms+Madi&family=Poppins:wght@100&family=Rye&family=VT323&display=swap');
@import "header.css";
@import "footer.css";

/*the import content all font who is required for the forum

Require for all the chat

font-family: 'Poppins', sans-serif;
-----------------------------------------

H1 only

Require for Index / 404 / Login:
font-family: 'Italiana', serif;
-----------------------------------------
Require for Action page:
font-family: 'Bodoni Moda', serif;
-----------------------------------------
Require for horror:
font-family: 'Creepster', cursive;
-----------------------------------------
Require for thriller and Biobic:
font-family: 'Cutive Mono', monospace;
-----------------------------------------
Require for Romantic:
font-family: 'Fleur De Leah', cursive;
-----------------------------------------
Require for Comedie:
font-family: 'Fredericka the Great', cursive;
-----------------------------------------
Require for Fantastique:
font-family: 'Ms Madi', cursive;
-----------------------------------------
Require for Western:
font-family: 'Rye', cursive;
-----------------------------------------
Require for Sci-fi:
font-family: 'VT323', monospace;*/

header {
    background: #ededed;
}

.modal a.close-modal[class*="icon-"] {
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    background: #900;
    border: 2px solid #fff;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    -ms-border-radius: 26px;
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.modal input {
    position: relative;
    margin-top: auto;
    margin-left: auto;
    text-align: center;
}

.modal input.name {
    padding: 1% 5%;
    margin-bottom: 10%;
    position: relative;
}

.modal textarea.post {
    min-height: 5vmax;
    padding: 15% 5%;
    margin-bottom: 1%;
    position: relative;
}

form {
    position: relative;
    text-align: center;
}