@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');



body {
    margin: 40px;
}

button {
    cursor: pointer;
    outline: 0;
    color: #AAA;
}

.btn:focus {
    outline: none;
}

.green {
    color: green;
}

.red {
    color: red;
}

header {
    background: #ededed;
}